*.exe
bin/
!/setup.exe
ac-library-master
node_modules
package-lock.json
package.json
template
*/
!.vscode
main.cpp
main.py
bonsai.md
!lib-shojin
*.txt
gen.cpp
!lib
AHC
f.md
main.cs
.globalconfig
.meta